{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'users/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/main.css' %}">

</head>
<body style="background-color: #235787; margin-top: 20px;">
  <!--  #e9ecef -->
    <div class="row mx-0">

      <!-- <div class=" offset-1 col-3">
        <img src="{% static 'blog/c2images/Start.jpeg' %}"  width="300" height="250"/>
      </div> -->

      <div class="offset-4 col-4">
        {% if messages %}
            {% for message in  messages%}
              <div class="alert alert-{{message.tags}}">
                {{message}}
              </div>
            {% endfor %}
        {% endif %}

        
        {% block content %}{% endblock %}

      </div>

      <!-- <div class=" offset-1 col-3">
        <img src="{% static 'blog/c2images/FEHU.png' %}"  width="300" height="250"/>
      </div> -->
      
    </div>

   

    <script src="{% static 'users/jquery.min.js' %}"></script>
    <script src="{% static 'users/popper-base.min.js' %}"></script>
    <script src="{% static 'users/bootstrap.min.js' %}"></script>
</body>
</html>




