{% extends "accounts/_layout/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



    <div class="container">

        <div class="row mx-0">

            <img src="{% static 'blog/c2images/logob.png' %}"  width="100%"  style="margin: auto;"/>

            <div class="col-12 mb-5 rounded" style="width: 100%;background-color:#141417;">

                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group  mt-2">
                        <legend class="border-bottom mb-4  text-center text-white">LogIn</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group text-center">
                        <button class="btn btn-primary m-2 text-white" type="submit">Sign In</button>
                    </div>
                  
                </form>

            </div>

       


        </div>

    </div>

    <style>

        .requiredField{
            color: white;
        };
        #id_password {
            background-color: #4a4a4a;
            
        }
    
    </style>
 
{% endblock content %}