{% extends "accounts/_layout/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container" style="background-image: url('{% static 'blog/c2images/qnn2.png' %}');">
    {% comment %} <div class="row">
        <div class="offset-2 col-4" style="backgroundcolor: #666666"  >
            <img src="{% static 'blog/c2images/qnn2.png' %}"  width="300" height="250"/>
        </div>
    </div> {% endcomment %}

</div>
    <div class="content-section"  style="opacity: .7;background-image: url('{% static 'blog/c2images/qnn2.png' %}') " >

        <div class="container">
         
            <div class="row">
                <div class="offset-3 col-5">
                    <img src="{% static 'blog/c2images/logo.png' %}"  class="img-fluid ml-2"/>
                </div>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info m-2" type="submit">Sign In</button>
            </div>
          
        </form>
       
    </div>
{% endblock content %}