{% extends "accounts/_layout/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container">

        <div class="row mx-0">

            <img src="{% static 'blog/c2images/logob.png' %}"  width="100%" height="200px"/>

            <div class="col-12 bg-white rounded" style="width: 100%;">

                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group  mt-2">
                        <legend class="border-bottom mb-4  text-center">LogIn</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group text-center">
                        <button class="btn btn-primary m-2" type="submit">Sign In</button>
                    </div>
                  
                </form>

            </div>

            <img src="{% static 'blog/c2images/slogan.png' %}"  width="100%" height="170px"/>


        </div>
    </div>
 
{% endblock content %}