{% extends "blog/_layout/base.html" %}
{% block content %}


   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {% if messages %}
            {% for message in  messages%}
              <div class="alert alert-{{message.tags}}">
                {{message}}
              </div>
            {% endfor %}
        {% endif %}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


  



    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

                <h1 class="text-dark mt-1" style="transform: translateY(25px);">Agents</h1>
                <table id="agentsTb" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>UserName</th>
                      <th>Machine Name</th>
                      <th>IP </th>
                      <th>Created Date</th>
                    </tr>
                    </thead>
                    <tbody>
               
                  {% for agent in agents%}
                    <tr>
                      <td><a href="#" onclick="NavToTasks('{{agent.name}}')"  class="link-primary">{{agent.username}}</a></td>
                      <td><a href="#" onclick="NavToTasks('{{agent.name}}')" class="link-primary">{{agent.hname}}</a></td>
                      <td><a href="#" onclick="NavToTasks('{{agent.name}}')" class="link-primary">{{agent.ip}}</a></td>
                      <td><a href="#" onclick="NavToTasks('{{agent.name}}')" class="link-primary">{{agent.created_date}}</a></td>
                    </tr>
                  
                    {%endfor%}
                  </tbody>
                    <tfoot>
                    <tr>
                      <th>UserName</th>
                      <th>Machine Name</th>
                      <th>IP</th>
                      <th>Created Date</th>
                    </tr>
                    </tfoot>
               
                </table>

          </div>
         </div>
      </div>
    </section>
  <!-- /.content-wrapper -->
</div>
{% endblock content %}

{% block scripts %}


<script>
    $("#agentsTb").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    }); 
    
    function NavToTasks(agentName){

        location.href = `/tasksHandling/${agentName}/`
    }
</script>

{% endblock %}