{% extends "blog/_layout/base.html" %}
{% block content %}

   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: #1e1f20;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {% if messages %}
            {% for message in  messages%}
              <div class="text-light alert alert-{{message.tags}}">
                {{message}}
              </div>
            {% endfor %}
        {% endif %}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-light">Dashboard</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <h1 class="text-light mt-1" style="transform: translateY(25px);">Listeners</h1>
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="text-light">Interface</th>
                      <th class="text-light">Created Date</th>
                      <th class="text-light">Ip</th>
                    </tr>
                 </thead>
                
                 <tbody>
               
                  {% for listener in listeners%}
                    <tr>
                      <td class="text-light">{{listener.interface}}</td>
                      <td class="text-light">{{listener.created_date}}</td>
                      <td class="text-light">{{listener.ip}}</td>
                    </tr>
                  
                    {%endfor%}
                    <!-- <tfoot>
                      <tr>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                      </tr>
                      </tfoot> -->
               
                </table>
           

                <h1 class="text-light mt-1 " style="transform: translateY(25px);">Agents</h1>
                <table id="agentsTb" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="text-light">UserName</th>
                      <th class="text-light">Machine Name</th>
                      <th class="text-light">IP </th>
                      <th class="text-light">Created Date</th>
                    </tr>
                    </thead>
                    <tbody>
               
                    {% for agent in agents%}
                      <tr>
                        <td><a href="#" onclick="NavToTasks('{{agent.name}}')"  class="link-primary text-light">{{agent.username}}</a></td>
                        <td><a href="#" onclick="NavToTasks('{{agent.name}}')" class="link-primary  text-light">{{agent.hname}}</a></td>
                        <td><a href="#" onclick="NavToTasks('{{agent.name}}')" class="link-primary  text-light">{{agent.ip}}</a></td>
                        <td><a href="#" onclick="NavToTasks('{{agent.name}}')" class="link-primary  text-light">{{agent.created_date}}</a></td>
                      </tr>
                    
                    {%endfor%}
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <th> </th>
                      <th> </th>
                      <th> </th>
                    </tr>
                    </tfoot> -->
                </table>

          </div>
         </div>
      </div>
    </section>
  <!-- /.content-wrapper -->
  </div>

{% endblock content %}

{% block scripts %}


<script>
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    });
    $("#agentsTb").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    })
    function NavToTasks(agentName){

      location.href = `/tasksHandling/${agentName}/`
  }    
</script>

{% endblock %}