{% extends "blog/_layout/base.html" %}
{% load static %}


{% block styles %}

<style>

  .input-group {
    margin-top: 30px;
    position: relative;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group-addon {
    border: none;
  }
  
  .linkname {
    display: none;
  }
  
  #copyButton {
    cursor: pointer;
    background: #f1bb3a;
  }
  
  #copyTarget {
    border-left: none;
  }
  
  .copied {
    opacity: 1;
    position: absolute;
    left: 55px;
  }
  
  @media (min-width: 768px) {
    .copied {
      left: 135px;
    }
  
    .linkname {
      display: block;
      background: #3b3e45;
      color: #fff;
    }
  }
  
</style>

{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% if messages %}
                    {% for message in messages%}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Launcher</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>






    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td><a  onclick="launcherData.ClearWindowsLauncher()" class="link-black">PowerShell</a></td>
                            <td><a  onclick="launcherData.ClearWindowsLauncher()" class="link-black">Uses powershell.exe to launch a Grunt</a></td>
                          </tr>

                          <tr>
                            <td><a  onclick="launcherData.ClearLinuxLauncher()" class="link-black">Bash</a></td>
                            <td><a  onclick="launcherData.ClearLinuxLauncher()" class="link-black">Uses Bash scripting to launch a Grunt</a></td>
                            <!-- href="{% url 'blog-lin_payload' %}" -->
                          </tr>

                        </tbody>
                          <tfoot>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                          </tr>
                          </tfoot>
                     
                      </table>

                </div>

                <div class="col-12" id="divCopyElement" hidden>

                  <div class="input-group">
                    <span id="copyButton" class="input-group-addon btn" title="Click to copy">
                      <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </span>
                    <input type="text" id="copyTarget" disabled class="form-control" >
                    <!-- <span class="copied" hidden>Copied !</span> -->
                  </div>
        
                </div>

            </div>
        </div>


        <div class="modal fade" id="modal-windows-launcher">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">PowerShell</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body row">
      
                  <div class="form-group col-12">
                    <label for="Listener">Listener</label>
                    <input type="text" class="form-control" maxlength="4" value="eth0" id="listenerWindows" placeholder="listener">
                    <span type="text" class="text-danger font-weight-bold" id="listenerWindowsValidation"
                      style="display: none;">Please Enter Interface</span>
                  </div>
      
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="launcherData.postWindowsLauncher()">Start Launcher</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>

          

          <div class="modal fade" id="modal-linux-launcher">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Bash</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body row">
      
                  <div class="form-group col-12">
                    <label for="Listener">Listener</label>
                    <input type="text" class="form-control" maxlength="4" id="listenerLinux" placeholder="listener">
                    <span type="text" class="text-danger font-weight-bold" id="listenerLinuxValidation"
                      style="display: none;">Please Enter Interface</span>
                  </div>
      
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="launcherData.postLinuxLauncher()">Start Launcher</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>

    </section>
    <!-- /.content-wrapper -->
</div>
{% endblock content %}

{% block scripts %}


<script>
  
    $("#example1").DataTable({
    "responsive": true, "lengthChange": false, "autoWidth": false,
    });
       
</script>

<script src="{% static 'blog/Modules/launcher.js' %}"></script>



<script>
  (function() {  
    function copyToClipboard(elem) {
      var target = elem;
  
      // select the content
      var currentFocus = document.activeElement;
      target.focus();
      target.setSelectionRange(0, target.value.length);
  
      // copy the selection
      var succeed;
  
      try {
        succeed = document.execCommand("copy");
      } catch (e) {
        console.warn(e);
  
        succeed = false;
      }
  
      // Restore original focus
      if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
      }
  
   
      return succeed;
    }
  
    $("#copyButton, #copyTarget").on("click", function() {
      copyToClipboard(document.getElementById("copyTarget"));
    });
  })();

</script>

{% endblock %}