{% extends "blog/_layout/base.html" %}
{% load static %}
{% block content %}

{% block styles %}

<style>

  .input-group {
    margin-top: 30px;
    position: relative;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group-addon {
    border: none;
  }
  
  .linkname {
    display: none;
  }
  
  #copyButton {
    cursor: pointer;
    background: #f1bb3a;
  }
  
  #copyTarget {
    border-left: none;
  }
  
  .copied {
    opacity: 1;
    position: absolute;
    left: 55px;
  }
  
  @media (min-width: 768px) {
    .copied {
      left: 135px;
    }
  
    .linkname {
      display: block;
      background: #3b3e45;
      color: #fff;
    }
  }
  
</style>

{% endblock %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Listener</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
            <li class="breadcrumb-item active">Listener</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>


  <!-- Main content -->
  <section class="content my-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">


          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Interface</th>
                <th>Created Date</th>
                <th>Stopped Date</th>
              </tr>
            </thead>
            <tbody>

              {% for listener in listeners%}
              <tr>
                <td>{{listener.interface}}</td>
                <td>{{listener.created_date}}</td>
                <td>{{listener.stoped_date}}</td>
              </tr>

              {%endfor%}
            </tbody>
            <tfoot>
              <tr>
                <th> </th>
                <th> </th>
                <th> </th>
              </tr>
              </tfoot>

          </table>





        </div>

        <div class="col-2">
          <button class="btn btn-primary" data-toggle="modal" data-target="#modal-default"
          onclick="listenerData.clearModal()">Create Listner</button>
        </div>

        <div class="col-12" id="divCopyElement" hidden>

          <div class="input-group">
            <span id="copyButton" class="input-group-addon btn" title="Click to copy">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
            </span>
            <input type="text" id="copyTarget" disabled class="form-control" >
            <!-- <span class="copied" hidden>Copied !</span> -->
          </div>

        </div>

      </div>
    </div>

    <div class="modal fade" id="modal-listener">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Listener</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body row">
            <!-- {% include 'blog/start-listener.html' %} -->



                      <div class="form-group offset-3 col-2">
                          <div class="form-check">
                              <input class="form-check-input"
                                  onclick="listenerData.operatingSystemSelected(event)" value="1"
                                  id="Windows" type="radio" name="radio1">
                              <label class="form-check-label">Windows</label>
                          </div>

                      </div>

                      <div class="form-group offset-3 col-2">

                          <div class="form-check">
                              <input class="form-check-input"
                                  onclick="listenerData.operatingSystemSelected(event)" value="2"
                                  id="Linux" type="radio" name="radio1">
                              <label class="form-check-label">Linux</label>
                          </div>


                      </div>
                      <span type="text" class="text-danger font-weight-bold col-12" id="operatingSystem"
                      style="display: none;">Please Select Operating System</span>



        


            <div class="form-group col-12">
              <label for="Listener">Listener</label>
              <input type="text" class="form-control" maxlength="4" id="listener" value="eth0" placeholder="listener">
              <span type="text" class="text-danger font-weight-bold" id="listenerValidation"
                style="display: none;">Please Enter Interface</span>
            </div>

          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="listenerData.postListener()">Start Listener</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

  </section>
  <!-- /.content-wrapper -->


</div>
<!-- /.content-wrapper -->

{% endblock content %}

{% block scripts %}


<script>
  $("#example1").DataTable({
    "responsive": true, "lengthChange": false, "autoWidth": false,
  })
</script>

<script src="{% static 'blog/Modules/listeners.js' %}"></script>


<script>
  (function() {  
    function copyToClipboard(elem) {
      var target = elem;
  
      // select the content
      var currentFocus = document.activeElement;
      target.focus();
      target.setSelectionRange(0, target.value.length);
  
      // copy the selection
      var succeed;
  
      try {
        succeed = document.execCommand("copy");
      } catch (e) {
        console.warn(e);
  
        succeed = false;
      }
  
      // Restore original focus
      if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
      }
  
   
      return succeed;
    }
  
    $("#copyButton, #copyTarget").on("click", function() {
      copyToClipboard(document.getElementById("copyTarget"));
    });
  })();

</script>


{% endblock %}