{% extends "blog/base.html" %}
{% block content %}


   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Listners</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
              <li class="breadcrumb-item active">Listners</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- END ALERTS AND CALLOUTS -->
        <h5 class="mt-4 mb-2">Tabs in Cards</h5>

        <div class="row">
          <div class="col-12">
         
            <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-four-Listener-tab" data-toggle="pill" href="#custom-tabs-four-Listener" role="tab" aria-controls="custom-tabs-four-Listener" aria-selected="true">Listeners</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-Start-tab" data-toggle="pill" href="#custom-tabs-four-Start" role="tab" aria-controls="custom-tabs-four-Start" aria-selected="false">Start</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-listing-tab" data-toggle="pill" href="#custom-tabs-four-listing" role="tab" aria-controls="custom-tabs-four-listing" aria-selected="false">Listing</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Messages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Settings</a> -->
                  <!-- </li> -->
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                  <div class="tab-pane fade active show" id="custom-tabs-four-Listener" role="tabpanel" aria-labelledby="custom-tabs-four-Listener-tab">
                
                    <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">DataTable with default features</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                              <th>Name</th>
                              <th>Port</th>
                              <th>Status</th>
                              <th>Interface</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>Trident</td>
                              <td>Internet
                                Explorer 4.0
                              </td>
                              <td>Win 95+</td>
                              <td> 4</td>
                            </tr>
                            <tr>
                              <td>Trident</td>
                              <td>Internet
                                Explorer 5.0
                              </td>
                              <td>Win 95+</td>
                              <td> 4</td>
                            </tfoot>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->



                  </div>
                  <div class="tab-pane fade" id="custom-tabs-four-Start" role="tabpanel" aria-labelledby="custom-tabs-four-Start-tab">
                    {% include 'blog/start-listener.html' %}
                  </div>

                  <div class="tab-pane fade" id="custom-tabs-four-listing" role="tabpanel" aria-labelledby="custom-tabs-four-listing-tab">
                  <form action="../directorylist/"  method="post">
                      {% csrf_token %}
                      
                      Directory : <input type="text" name="dir" ><br><br>
                      <input class="btn btn-success btn-block" type="submit" value="Submit" ></a>
                </form>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- END CUSTOM TABS -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock content %}

  {% block scripts %}


  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

{% endblock %}