{% extends "blog/_layout/base.html" %}
{% block content %}


   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Listners</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
              <li class="breadcrumb-item active">Listners</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
         
              <div >
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-content-above-home-tab" 
                    data-toggle="pill" href="#custom-content-above-home" 
                    role="tab" aria-controls="custom-content-above-home" aria-selected="true">Listners</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" 
                    href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" 
                    aria-selected="false">Start</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-content-above-messages-tab" data-toggle="pill" 
                    href="#custom-content-above-messages" role="tab" aria-controls="custom-content-above-messages" 
                    aria-selected="false">Listing</a>
                  </li>
                 
                </ul>
                <div class="tab-custom-content">
                  <p class="lead mb-0"></p>
                </div>
                <div class="tab-content" id="custom-content-above-tabContent">
                  <div class="tab-pane fade show active" id="custom-content-above-home" 
                  role="tabpanel" aria-labelledby="custom-content-above-home-tab">



                  </div>
                  <div class="tab-pane fade" id="custom-content-above-profile"
                   role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                  
                   {% include 'blog/start-listener.html' %}
                  
                  
                  </div>
               
               
                  <div class="tab-pane fade" id="custom-content-above-messages" role="tabpanel" 
                  aria-labelledby="custom-content-above-messages-tab">
                    
                    

                    <form action="../directorylist/"  method="post">
                      {% csrf_token %}
                      
                      Directory : <input type="text" name="dir" ><br><br>
                      <input class="btn btn-success btn-block" type="submit" value="Submit" ></a>
                    </form>
                 
                 
                    </div>
              
                 
                </div>
         
              </div>
           

            
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- END CUSTOM TABS -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock content %}

  {% block scripts %}


  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    //  $('#example2').DataTable({
      //  "paging": true,
      //  "lengthChange": false,
      //  "searching": false,
     //   "ordering": true,
     //   "info": true,
     //   "autoWidth": false,
     //   "responsive": true,
    //  });
    });
  </script>

{% endblock %}