{% extends "blog/_layout/base.html" %}
{% load static %}
{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="background-color: #1e1f20;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="text-white">Tasks</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item text-white"><a href="{% url 'blog-home' %}" class="text-white">Home</a></li>
                        <li class="breadcrumb-item active text-white">Tasks</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div>
                        <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill"
                                    href="#custom-content-above-home" role="tab"
                                    aria-controls="custom-content-above-home" aria-selected="true">Tasks </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill"
                                    href="#custom-content-above-profile" role="tab"
                                    aria-controls="custom-content-above-profile" aria-selected="false">Tasking</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="custom-content-above-result-tab" data-toggle="pill"
                                    href="#custom-content-above-result" role="tab"
                                    aria-controls="custom-content-above-result" aria-selected="false">Results</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" id="custom-content-above-Exploitations-tab" data-toggle="pill"
                                    href="#custom-content-above-Exploitations" role="tab"
                                    aria-controls="custom-content-above-Exploitations"
                                    aria-selected="false">Exploitations</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="custom-content-above-agenthistory-tab" data-toggle="pill"
                                    href="#custom-content-above-agenthistory" role="tab"
                                    aria-controls="custom-content-above-agenthistory" aria-selected="false">Agent
                                    History</a>
                            </li>

                        </ul>

                        <div class="tab-custom-content">
                            <p class="lead mb-0"></p>
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">

                            <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel"
                                aria-labelledby="custom-content-above-home-tab">

                                <!-- Main content -->
                                <section class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">

                                                <table id="example1" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-white">Name</th>
                                                            <th class="text-white">Type</th>
                                                            <th class="text-white">Reference</th>
                                                            <th class="text-white">Description</th>
                                                            <!-- <th class="text-white">Created_Date</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bodyData">

                                                    </tbody>
                                                    <!-- <tfoot>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Type</th>
                                                            <th>Reference</th>
                                                            <th>Description</th>
                                                            <th>Created_Date</th>
                                                        </tr>
                                                    </tfoot> -->

                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /.content-wrapper -->

                            </div>

                            <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel"
                                aria-labelledby="custom-content-above-profile-tab">

                                <div class="row">

                                    <div class="col-sm-12">


                                        <div class="row">

                                            <div class="form-group col-2">
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                        onclick="TasksDraw.ReDrawSelectTasks(event)" value="1"
                                                        id="Windows" type="radio" name="radio1">
                                                    <label class="form-check-label text-white">Windows</label>
                                                </div>

                                            </div>

                                            <div class="form-group col-2">

                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                        onclick="TasksDraw.ReDrawSelectTasks(event)" value="2"
                                                        id="Linux" type="radio" name="radio1">
                                                    <label class="form-check-label text-white">Linux</label>
                                                </div>


                                            </div>

                                            <div class="form-group col-2">
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                        onclick="TasksDraw.ReDrawSelectTasks(event)" value="3"
                                                        id="ActiveDirectory" type="radio" name="radio1">
                                                    <label class="form-check-label text-white">Active Directory</label>
                                                </div>
                                            </div>

                                            <div class="form-group col-2">
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                        onclick="TasksDraw.ReDrawSelectTasks(event)" value="4"
                                                        id="General" type="radio" name="radio1">
                                                    <label class="form-check-label text-white">General</label>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-12">

                                        <div class="col-4" id="selectDiv">

                                            <div class="form-group">
                                                <label class="text-white">Modules</label>
                                                <select class="form-control select2bs4" placeholder="Modules"
                                                    id="selectModules" onchange="TasksDraw.SelectOperatingSystem()"
                                                    style="width: 100%;">

                                                </select>
                                            </div>

                                        </div>

                                    </div>




                                </div>

                                <div class="row my-4" id="ModuleTask"> </div>
                            </div>

                            <div class="tab-pane fade" id="custom-content-above-result" role="tabpanel"
                                aria-labelledby="custom-content-above-result-tab">

                                <div class="row">

                                    <div class="col-12">
                                        <textarea id="fileResults" cols="30" rows="20" spellcheck="false" class="text-white bg-transparent"
                                            style="width: 100%;"></textarea>

                                    </div>



                                </div>


                            </div>


                            <div class="tab-pane fade" id="custom-content-above-Exploitations" role="tabpanel"
                                aria-labelledby="custom-content-above-Exploitations-tab">

                                <div class="row">

                                    <div class="col-12">

                                        <div class="col-4">

                                            <div class="form-group">
                                                <label class="text-white">Exploitations</label>
                                                <select class="form-control select2bs4" placeholder="Exploitations"
                                                    id="selectExploitations" onchange="ExploitationsDraw.DrawExploit(event)"  style="width: 100%;">

                                                </select>
                                            </div>

                                        </div>

                                    </div>

                           


                                </div>

                                <div class="row my-4" id="ExploitaionsTask"> </div>


                            </div>

                            <div class="tab-pane fade" id="custom-content-above-agenthistory" role="tabpanel"
                                aria-labelledby="custom-content-above-agenthistory-tab">

                                <!-- Main content -->
                                <section class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">

                                                <button class="btn btn-primary" style="float: right;" onclick="TasksData.GetAgentHsitory();"> Refresh</button>

                                                <table id="agentHistoryTb" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:5%; text-align:center" class="text-white">module_Name</th>
                                                            <th style="text-align:center" class="text-white"><h3><strong class="text-white">Result</strong></h3></th>
                                                            <th style="width:10%;text-align:center" class="text-white">Red Teamer</th>
                                                            <th style="width:10%;text-align:center" class="text-white">Created_Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="agentHistoryBody">



                                                    </tbody>
                                                    <!-- <tfoot>
                                                        <tr>
                                                          <th> </th>
                                                          <th> </th>
                                                          <th> </th>
                                                        </tr>
                                                        </tfoot> -->

                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /.content-wrapper -->

                            </div>


                        </div>



                    </div>

                </div>



            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- END CUSTOM TABS -->

</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}

{% block scripts %}

<script>

    var agentName = '{{agentName}}'
    var agentId = '{{agentId}}'
   // console.log(agentName);

</script>

<script src="{% static 'blog/Modules/tasks.js' %}"></script>
<script src="{% static 'blog/Modules/exploitations.js' %}"></script>



{% endblock %}